.contact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-container {
    background: #1f2937;
    color: white;
    width: 70%;
    padding: 40px;
    border-radius: 5px;

}

.contact-container h2 {
    margin-bottom: 20px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-container label {
    font-size: 16px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.contact-container textarea {
    resize: none;
}

.contact-container button {
    width: 120px;
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-container button:hover {
    background: #2563eb;
}



/*Responsive design*/


@media (max-width :768px) {

    

     .navbar_content2 {
        display: none;
    }

    .bars {
        display: block;
    }
.news-letter-contents input {

        padding: 10px;


    }

    .news-letter-contents {
        font-size: 10px;
    }

    .news-letter-contents p {
        font-size: 15px;
    }

    .subscribe {
        padding: 5px;



        font-size: 15px;
    }

    .footer {

        padding: 35px;

        font-size: 10px;
    }

    .icons {

        gap: 40px;
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 15px;

    }

    .footer-content p {
        margin-top: 10px;
        font-size: 15px;

    }
}



@media (max-width :480px) {
    
    .navbar {
        padding: 0px 10px;
    }

    .navbar_content2 {
        display: none;
    }
    
    .news-letter-contents input {

        padding: 10px;


    }

    .news-letter-contents {
        font-size: 8px;
    }

    .news-letter-contents p {
        font-size: 10px;
    }

    .subscribe {
        padding: 8px;



        font-size: 10px;
    }

    .footer {

        padding: 25px;

        font-size: 10px;
    }

    .icons {

        gap: 20px;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;

    }

    .footer-content p {
        margin-top: 5px;
        font-size: 10px;

    }
}